{% extends "base.html" %}

{% block pagehead %}
  <title>{{page_name}}</title>
  <style type="text/css">
      .padme{
        padding: 10px;
      }
      .mes-sep{
        border: 5px solid hsl(0, 0%, 21%);margin:5px;
      }
  </style>
{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
      <div class="tile is-ancestor">
          <div class="tile is-ancestor">
              <div class="tile is-4 padme">
                <article class="message is-danger">
                  <div class="message-header">
                    <p>Ave Someds</p>
                    <span class="button" aria-label="">
                        <i class="fas fa-thumbtack"></i>
                    </span>
                  </div>
                  <div class="message-body">
                    <div class="has-text-centered has-text-dark">
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">About</p>
                        <hr class="mes-sep">
                        I am a Senior someone with 5yrs experience at xyz companies.
                        I am looking for a job this type
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Previously worked at</p>
                        <hr class="mes-sep">
                        <figure class="image is-32x32">
                          <img class="is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/439px-Microsoft_logo.svg.png">
                        </figure>
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Skills</p>
                        <hr class="mes-sep">
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Links</p>
                        <hr class="mes-sep">
                        <div>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                        </div>

                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-4 padme">
                <article class="message is-danger">
                  <div class="message-header">
                    <p>Ave Someds</p>
                    <span class="button" aria-label="">
                        <i class="fas fa-thumbtack"></i>
                    </span>
                  </div>
                  <div class="message-body">
                    <div class="has-text-centered has-text-dark">
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">About</p>
                        <hr class="mes-sep">
                        I am a Senior someone with 5yrs experience at xyz companies.
                        I am looking for a job this type
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Previously worked at</p>
                        <hr class="mes-sep">
                        <figure class="image is-32x32">
                          <img class="is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/439px-Microsoft_logo.svg.png">
                        </figure>
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Skills</p>
                        <hr class="mes-sep">
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Links</p>
                        <hr class="mes-sep">
                        <div>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                        </div>

                    </div>
                  </div>
                </article>
              </div>
              <div class="tile is-4 padme">
                <article class="message is-danger">
                  <div class="message-header">
                    <p>Ave Someds</p>
                    <span class="button" aria-label="">
                        <i class="fas fa-thumbtack"></i>
                    </span>
                  </div>
                  <div class="message-body">
                    <div class="has-text-centered has-text-dark">
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">About</p>
                        <hr class="mes-sep">
                        I am a Senior someone with 5yrs experience at xyz companies.
                        I am looking for a job this type
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Previously worked at</p>
                        <hr class="mes-sep">
                        <figure class="image is-32x32">
                          <img class="is-rounded" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Microsoft_logo.svg/439px-Microsoft_logo.svg.png">
                        </figure>
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Skills</p>
                        <hr class="mes-sep">
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <span class="tag is-success">
                          Git
                          <button class="delete is-small"></button>
                        </span>
                        <p class="has-text-danger has-text-weight-bold" style="text-align:left; margin:0px;margin-top:10px;">Links</p>
                        <hr class="mes-sep">
                        <div>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                            <a href="#"><span class="tag is-info">github</span></a>
                        </div>

                    </div>
                  </div>
                </article>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




